/*@fontface declara como o import deve se comportar ( local )*/

@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf")
    formart("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    formart("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/*css reset basico*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e1014;
    color: #ffffff;
}

h1 {
    font-family: 'Unbounded', sans-serif;
}

h1 span {
    font-size: 81px;
    color: #9747FF;
}

a {
    color: #ffffff;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    
}

p {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}
